@use "../../assets/scss/variables" as v;

@mixin flexArrow() {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

@mixin flexCenter() {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flexBetween() {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@mixin flexCenterVertical() {
    display: flex;
    align-items: center;
}

@mixin absoluteCenter() {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
}

@mixin gradient($listColor) {   
    background: -webkit-linear-gradient($listColor);
    background: -moz-linear-gradient($listColor);
    background: -o-linear-gradient($listColor);
    background: linear-gradient($listColor);  
}

@mixin rounded($radius: 0.5em) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}

@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
    @if $inset {
        -webkit-box-shadow:inset $top $left $blur $color;
        -moz-box-shadow:inset $top $left $blur $color;
        box-shadow:inset $top $left $blur $color;
    } @else {
        -webkit-box-shadow: $top $left $blur $color;
        -moz-box-shadow: $top $left $blur $color;
        box-shadow: $top $left $blur $color;
    }
}

@mixin button(){
    width: 105px;
    height: 25px;
    background-color: v.$lightRose;
    color: v.$darkPink;
    font-family: v.$Patrick;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    margin: 10px 10px;
    cursor: pointer;
}

@mixin formInput(){
        margin: 20px 10px;
        border: none;
        height: 45px;
        border-radius: 7px;
        padding: 0 10px;
        @include box-shadow(0px, 5px, 5px, rgba(0, 0, 0, 0.5));
        &::placeholder{
            font-family: v.$Indie;
            color: v.$darkPink;
            font-size: 15px;
            opacity: 0.7;
        }
}

@mixin separator($width){
    content: "";
    height: 1pt;
    background-color: v.$lightRose;
    width: $width;
    margin: 20px auto;
}
