<app-header></app-header>
<div class="container">
    <h1 class="title-content">Mentions légales</h1>
    <h2>Editeur</h2>
    <p>Flora Lafferrière</p>
    <p>30 Boulevard de Picpus</p>
    <p>75012 paris</p>
    <p>Email : flora_56@live.fr</p>
    
    <h2>Hébergement</h2>
    
    
    <h2>Traitement des données personnelles</h2>
    <p>En application de la loi n° 7817 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés, les
    informations qui vous concernent sont destinées exclusivement à Alenatea. Elles ne seront utilisées que pour vous
    informer de l’existence de nos produits et services. Vous disposez d’un droit d’accès, de modification, de rectification
    et de suppression des données qui vous concernent. Pour l’exercer, il vous suffit d’envoyer un mail à
    flora_56@live.fr.</p>
</div>
<app-footer></app-footer>
