<div class="navbar-header">
    <a>
        <img 
            src="../../../assets/img/logo.png" 
            alt="Logo du site Vegilab"
            class="logo"
            [routerLink]="['/home']">
    </a>
    <div 
        id="nav-icon"
        appDropdown>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
    <ul id="nav-menu" appDropdown>
        <li class="nav-item"  routerLinkActive="active">
            <a href="#" class="nav-link" [routerLink]="['/home']">Accueil</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a href="#" class="nav-link" [routerLink]="['/recettes']">Recettes</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">Planning de la semaine</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">Abonnement</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">Connexion</a>
        </li>
    </ul>
</div>


