@use "../../assets/scss/mixin" as m;
@use "../../assets/scss/variables" as v;
@import "../../assets/scss/login-signup";

.login-input{
  @include m.formInput();
  min-width: 320px;
}
#eye-icon{
  position: absolute;
  margin-top: -50px;
  margin-left: 595px;
}

@media (max-width: 1200px) {
  #eye-icon{
    margin-left: 460px;
  }
}
@media (max-width: 992px) {
  #eye-icon{
    margin-left: 380px;
  }
}
@media (max-width: 768.98px) {
  #eye-icon{
    margin-left: 390px;
  }
}
@media (max-width: 575.98px) {
  .login-input{
    min-width: 280px;
  }
  #eye-icon{
    margin-left: 260px;
  }
}
@media (max-width: 375px) {
  #eye-icon{
    margin-top: -33px;
    margin-left: 193px;
  }
  .login-input{
  margin: 8px;
  min-width: 210px;
  height: 35px;
  }
}