<div class="recipe-container">
    <app-search-recipe [RecipePage]="titleSearchContent"></app-search-recipe>
    <h2 class="title-content">Nouveautés</h2>
    <ng-template [ngIf]="seePopup" class="delete-popup">
        <p>Êtes-vous sur de vouloir supprimer cette recette?</p>
        <button 
        (recipeEvent) = "onDeleteRecipe($event)"
        >Confirmer</button>
        <button >Annuler</button>
    </ng-template>
        <div class="recipe-content">
            <div class="cards-content">
                <app-recipe-card 
                [isHide]="false"
                *ngFor="let recipe of recipes; let i = index"
                [recipe]="recipe"
                (deleteEvent) = "onDeleteRecipe($event)"
                (updateEvent) = "onUpdateRecipe($event)"
                ></app-recipe-card>
            </div>
        </div>
    <h2 class="title-content">Idées Recettes Vegan</h2>
    <div class="recipe-content">
        <div class="cards-content">
            <app-recipe-card></app-recipe-card>
        </div>
    </div>
    <h2 class="title-content">Idées Desserts</h2>
    <div class="recipe-content">
        <div class="cards-content">
            <app-recipe-card
            ></app-recipe-card>
        </div>
    </div>
</div>