@use "../../../assets/scss/mixin" as m;
@use "../../../assets/scss/variables" as v;

.card-container{
  width: 365px;
  height: 400px;
  @include m.box-shadow(4px, 4px, 6px, v.$darkPink);
  border-radius: 10px;
  margin: 50px;
}

.image-content{
  height: 260px;
}

.card-image{
  width: 365px;
  height: 260px;
  border-radius: 10px 10px 0 0;
}

.card-content{
  height: 140px;
  background-color: v.$lightRose;
  border-radius: 0 0 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-title{
  margin: 15px 0;
  text-align: center;
  
  & a{
    text-decoration: none;
    font-size: 1.3rem;
    color: v.$darkPink;
    font-family: v.$Indie;
    cursor: pointer;
  }
}

.see-recipe{
  display: flex;
  justify-content: flex-end;
  font-size: 0.9rem;
  font-family: v.$Indie;
  color: v.$green;
  text-align: right;
  margin: 10px;
  text-decoration: none;
  & p{
    cursor: pointer;
  }
  & span {
    margin-left: 5px;
  }
}

.card-icons{
  margin: 5px;
  text-align: right;
  
  & svg{
    padding: 5px;
    cursor: pointer;
  }
}

@media (max-width: 991.98px) {

}

@media (max-width: 500px) {
    .card-container{
  width: 280px;
  height: 340px;
  }

  .image-content{
    height: 225px;
  }
  .card-content{
  height: 115px;
  }
  .card-image{
  width: 280px;
  height: 225px;
  }
  .see-recipe{
    margin-top: 20px;
}
}
