@use "../../assets/scss/variables" as v;
@use "../../assets/scss/mixin" as m;
@import "../../assets/scss/no-content";

.favories-container{
    position: relative;
}

h2.favories-title{
    @include m.contentTitle(v.$darkPink);
}


.cards-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
    margin-bottom: 50px;
    height: auto;

}

.return{
    display: flex;
    justify-content: flex-end;
    color: v.$green;
    font-family: v.$Patrick;
    font-size: 1.6rem;
    margin-right: 5%;

    &:hover{
        text-decoration: underline;
    }

    & p {
        cursor: pointer;
    }

    & span{
        display: none;
        cursor: pointer;
    }
}

@media (max-width: 991.98px) {
    .favories-container{
    margin: 50px;
}

.return{
    padding-right: 10px;
    & p{
        display: none;
    }
    
    & span{
        margin-top: 20px;
        display: block;
    }
}
}

@media (max-width: 500px) {
    .favories-container{
        width: 100%;
        margin: 0px;
    }
    h2.favories-title{
        margin: 0;
        font-size: 2.5rem;
    }

@media (max-width: 350px) {
        h2.favories-title{
        font-size: 2.2rem;
    }
}
}