/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap-grid.scss';



@import './assets/scss/variables';
@import './assets/scss/mixin';
@import './app/home/home.component';
@import './app/shared/layout/header/header.component';
@import './app/shared/layout/footer/footer.component';
@import './app/shared/newletters/newletters.component.scss';


html *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    height: 100%;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
