@import './assets/scss/_variables';
@import './assets/scss/_mixin';
@import './app/home/_home.component';
@import './app/shared/header/_header.component';

html *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    
}

