/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap-grid.scss';



@import './assets/scss/variables';
@import './assets/scss/mixin';
@import './app/home/home.component';
@import './app/shared/header/header.component';

html *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
}

