@use "../../assets/scss/mixin" as m;
@use "../../assets/scss/variables" as v;

.home-container{
    height: 1800px;
    width: 100%;
}

.home-content{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100%;
}

.background-content1{
    z-index: -1;
    content:"";
    position: absolute;
    background-color: v.$lightRose;
    width: 100%;
    height: 600px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 60%);
}

.text-container{
    position: absolute;
    margin: 50px 200px;
    text-align: center;
    font-family: v.$Caveat;

    & h2{
        font-size: 4.3rem;
        margin-bottom: 15px;
    }
    & .text-content{
        font-size: 1.6rem;
        margin-bottom: 5px;
    }

    & .text-more{
        font-size: 1.4rem;
        color: v.$green;
        cursor: pointer;
    }

}

#text-container1{
    position: absolute;
    top: 10px;
}

#text-container2{
    position: absolute;
    width: 1000px;
    top: 420px;
    left: 13%;
}

#text-container3{
    position: absolute;
    width: 1000px;
    top: 795px;
    right: 15%;
}

#panier-desktop{
    width: 300px;
    position: absolute;
    top: 717px;
    left: 82%;
}
#carnet-desktop{
    width: 300px;
    position: absolute;
    top: 310px;
}
#carnet-mobile, #panier-mobile{
    display: none;
}

.content-img{
    width: 100%;
    max-height: 500px;
}

.background-content2{
    z-index: -1;
    content: "";
    position: absolute;
    top: 300px;
    background-color: white;
    width: 100%;
    height: 500px;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 50%);
    clip-path: polygon(0% 0%, 100% 35%, 100% 100%, 0% 100%);
}

.background-content3{
    z-index: -1;
    content: "";
    position: absolute;
    top: 720px;
    background-color: #FAEBED;
    width: 100%;
    height: 500px;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 50%);
    clip-path: polygon(0% 0%, 100% 32%, 100% 81%, 0% 100%);
    transform: rotate(180deg);
}

.home-article{
    position: relative;
}

@media (max-width: 1540px) {
    .text-container{

    & h2{
        font-size: 3.5rem;
    }
    & .text-content{
        font-size: 1.4rem;
    }

    & .text-more{
        font-size: 1.2rem;
    }
}


    #text-container2, #text-container3{
        width: 800px;
    }

    #panier-desktop{
        left:79%;
    }
}

@media (max-width: 1400px) {
    #panier-desktop{
    left: 77%;
    }

    .text-container{
        & h2{
            font-size: 3.3rem;
        }
        & .text-content{
            font-size: 1.2rem;
        }

        & .text-more{
            font-size: 1.1rem;
        }
    }
}

@media (max-width: 1300px) {
#panier-desktop{
    left: 75%;
    }
}

@media (max-width: 1200px) {
    .home-container{
    height: 1750px;
    }

    #panier-desktop{
    left: 74%;
    }

    #text-container2, #text-container3{
        width: 600px;
    }

    .text-container{

    & h2{
        font-size: 2.8rem;
    }
    }
}

@media (max-width: 1100px) {
        .home-container{
    height: 1700px;
    }

    #panier-desktop{
    left: 72%;
    }
    }

@media (max-width: 1000px) {
    #panier-desktop{
    left: 71%;
    }
}


@media (max-width: 991.98px) {
    .background-content1, .background-content2, .background-content3{
        display: none;
    }

    #carnet-desktop, #panier-desktop{
        display: none;
    }

    #carnet-mobile, #panier-mobile{
        display: block;
    }

    .home-container{
        height: 1000px;
    }
    
    .home-content{
        display: flex;
        flex-direction: column;
        font-family: v.$Caveat;
        background-color: v.$lightRose;
        text-align: center;
        margin-bottom: 40px;
    }

    .home-article{
        position: relative;
    }

    .content-img{
        width: 100%;
        max-height: 500px;
    }

    #panier-mobile, #carnet-mobile {
        position: relative;
    }

    .text-container{
        position: relative;
        padding: 20px 35px;
        margin: 0;
    }
    
    #text-container1, #text-container2, #text-container3{
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
    }
    .text-content{
        margin-top: 12px;
        margin-bottom: 5px;
        font-family: v.$Patrick;
    }
    .home-container{
    height: auto;
    }

    .text-container{

    & h2{
        font-size: 1.7rem;
    }

        & .text-content{
        font-size: 1rem;
    }

    & .text-more{
        font-size: 0.9rem;
    }

    }
    #panier{
        background-color: white;
    }
}