@use "../../assets/scss/mixin" as m;
@use "../../assets/scss/variables" as v;

.welcome-content{
    background-color: v.$lightRose;
    padding: 30px 30px;
    margin: 50px 200px;
    @include m.flexCenter();
    flex-wrap: wrap;
    border-radius: 20px;
    & a{
        padding: 100px;
    }
}

.welcome-title{
    @include m.contentTitle(v.$green);
}