<div class="footer-container">
    <div class="form-footer">
        <h4>Contact</h4>
        <form action="">
            <div class="form-group">
                <input type="text" placeholder="Votre nom" class="form-input">
                <input type="email" placeholder="Votre email" class="form-input">
                <textarea name="message" id="message" cols="30" rows="10" class="form-message" placeholder="Votre message"></textarea>
            </div>
            <button type="submit" class="btn-submit">Valider</button>
        </form>
        <div id="separator"></div>
        <ul id="footer-menu">
            <li class="footer-item" >
                <a href="#" class="footer-link" [routerLink]="['/home']">Accueil</a>
            </li>
            <li class="footer-item">
                <a href="#" class="footer-link">A Propos</a>
            </li>
            <li class="footer-item">
                <a href="#" class="footer-link">CGV</a>
            </li>
            <li class="footer-item">
                <a href="#" class="footer-link">Mentions légales</a>
            </li>
        </ul>
        <div class="icons-group">
            
        </div>
    </div>
</div>
